body {
  max-height: 100%;
  max-width: 100%;
  background-color: #D3D3D3;
  background-image: url("images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Enriqueta', serif;
  display: grid;
  grid-template-areas:
          "header header header"
          "nav article ads"
          "footer footer footer";
  grid-template-rows: 80px 1fr 70px;
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  scroll: auto;
}
.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.center-block{
  font-size: 26px;
  color: #323232;
  cursor: pointer;
  margin-bottom: 10px;
}
.center-block_link{
  font-size: 30px;
  color: #ff0000;
  cursor: pointer;
  font-family: 'Lexend Zetta', sans-serif;
  font-weight: 300;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  /*padding: 40px;*/
}
.faceBook, .linkedin, .instagram{
  display: flex;
  justify-content: center;
  color: white;
  margin: 0 10px;
}
.footer{
  box-sizing: border-box;
  overflow:hidden;
  height: 10%;
}
.social{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: #ff0000;
}

.a-icon-social{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.a-icon-social:hover{
  color: #D3D3D3;
}
