*{
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
    scroll: auto;

}
body {
}
.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #000000;
    transition: all .5s ease;
}
.sidebar header {
    font-size: 28px;
    font-weight: 500;
    color: white;
    line-height: 70px;
    background: #000000;
    user-select: none;
    margin: 20px 0 5px 30px;
}
.sidebar header:hover{
    color: #ffA500;
}
.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
    color: #ffA500;
}
.sidebar ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    /*background: #042331;*/
    border-radius: 3px;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 40px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #cancel{
    z-index: 1111;
    left: -195px;
    top: 38px;
    font-size: 30px;
    color: #ffffff;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 210px;
}
#check:checked ~ section{
    margin-left: 250px;
}
section{
    background: url(10.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
